.hero {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 30px;
}

.hero-text {
  font-size: 6rem;
  font-weight: bold;
  color: #0047FF;
  margin: 0;
}

.hero-text .yellow {
  color: black;
}

.yellow-square {
  width: 200px;
  height: 300px;
  background-color: rgba(0, 71, 255, 0.8);
}
